.header{
    background: linear-gradient(90deg,#d9ed92 1%,#76c893 40%);
    font-family: sans-serif;
    font-weight: 900;
    font-style: italic;
}

.logo{
   width: 50%;
   height: 100%;

}

.navbar{
    background: linear-gradient(90deg,#1a759f 1%,#1e6091 40%);
}

.logoHome{
    width: 25%;
    height: 25%;
}