
.fondo{
    background-color: beige;
    background: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.texto1{
    font-family: "Jazz LET", fantasy;
}

.texto2{
    font-family: "Jazz LET", fantasy;
}